{% extends 'layout.html' %}

{% block content %}
    <form class="form-horizontal" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.title.label }}</label>
            <div class="col-sm-10">
                {{ form.title }}
                <span style="color: red;">{{ form.title.errors.0 }}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="提 交">
            </div>
        </div>
    </form>
{% endblock %}